ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  width: 100%;
  background: linear-gradient(135deg,
  #1a1a1a 0%, #1a1a1a 6.67%,
  #1b1b1b 6.67%, #1b1b1b 13.33%,
  #1c1c1c 13.33%, #1c1c1c 20%,
  #1d1d1d 20%, #1d1d1d 26.67%,
  #1e1e1e 26.67%, #1e1e1e 33.33%,
  #1f1f1f 33.33%, #1f1f1f 40%,
  #202020 40%, #202020 46.67%,
  #212121 46.67%, #212121 53.33%,
  #222222 53.33%, #222222 60%,
  #232323 60%, #232323 66.67%,
  #242424 66.67%, #242424 73.33%,
  #252525 73.33%, #252525 80%,
  #262626 80%, #262626 86.67%,
  #272727 86.67%, #272727 93.33%,
  #282828 93.33%, #282828 100%
  );
  border-top: 1px solid var(--main-orange);
}

ul li {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  flex: 1;
}

ul li a {
  justify-content: center;
  display: flex;
  flex: 1;
}

.icon.upper-body {
  -webkit-mask-image: url('/assets/outline/body/arm.svg');
  mask-image: url('/assets/outline/body/arm.svg');
  height: 48px;
  width: 48px;
}

.icon.lower-body {
  -webkit-mask-image: url('/assets/outline/body/leg.svg');
  mask-image: url('/assets/outline/body/leg.svg');
  height: 48px;
  width: 48px;
}

.icon.full-body {
  -webkit-mask-image: url('/assets/outline/body/body.svg');
  mask-image: url('/assets/outline/body/body.svg');
  height: 48px;
  width: 48px;
}
